button {
 
  cursor: pointer;
  font-size: 20px;
}
img {
  width: 30px;
  object-fit: contain;
}

.buttonContainer {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(216, 218, 215);
  padding: 10px 20px;
  border-radius: 10px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

section > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

h1 {
  text-align: center;
}